body.landing.bg {
  background-image: url(../images/Mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.compact {
  display: none;
}


.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection section {
  position: absolute;
  width: 600px;
  top: 191px;
}

.mainSection section figure {
  margin: 100px 0 0 -60px;
  width: 210px;
  height: 20px;
  background-image: url(../images/posts/);
}

.mainSection.left section {
  left: 160px;
}
.mainSection.right section {
  right: 40px;
}

.mainSection.center section {
  width: 100%;
  text-align: center;
}

.mainSection section figure {
  margin: 55px 0 0 -60px;
  width: 30px;
  height: 4px;
  background-color: #00ffe5;
}

.mainSection.left section figure {
  margin-left: 0;
}

.mainSection.right section figure {
  margin-left: 0;
}

.mainSection.center footer {
  position: absolute;
  margin: auto;
  bottom: 30px;
  width: 100%;
  min-width: 768px;
  text-align: center;
}

.mainSection.center footer p {
  font-size: 16px;
  padding-bottom: 7px;
}

h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

p {
  font-family: 'PT Sans', sans-serif;
  margin-top: 26px;
  font-size: 21px;
  line-height: 36px;
}

.mainSection.left p,
.mainSection.left h2 {
  color: #323332;
}

.mainSection.right h2,
.mainSection.right p,
.mainSection.center h2,
.mainSection.center p {
  color: #ffffff;
}

.mainSection.right,
.mainSection.center {
  background-color: #879696;
}

.mainSection.left {
  background-color: #fcfffe;
}

.mockup {
  position: absolute;
  background-size: cover;
}


#mockup1 {
  position: relative;
  width: 532px;
  height: 576px;
  top: 233px;
  right: -749px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/about.png);
}

#mockup2 {
  width: 140px;
  height: 317px;
  top: 193px;
  left: 160px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/about.png);
}

#mockup2a {
  width: 140px;
  height: 395px;
  top: 193px;
  left: 333px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/works.png);
}

#mockup2b {
  width: 140px;
  height: 474px;
  top: 193px;
  left: 506px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/work.png);
}

#mockup3 {
  position: relative;
  width: 761px;
  height: 404px;
  top: 343px;
  right: -640px;
  background-image: url(../images/Posts/screens.png);
}

@media screen and (max-width: 1460px) {
  .landingWraper {
    width: 100%
  }
}

@media screen and (max-width: 1180px) {
  body.landing.bg {
    background-image: url(../images/Mockups/1180.png);
  }

  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .mainSection {
    width: 1180px;
    height: 568px;
  }

  .mainSection section {
    position: absolute;
    top: 137px;
  }

  .mainSection.left section {
    left: 192px;
  }

  .mainSection.right section {
    right: -65px;
  }

  .mainSection section figure {
    margin: 42px;
    width: 23px;
    height: 3px;
    background-color: #00ffe5;
}

  .mainSection section h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection section p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 26px;
  }

  .mainSection.center footer p {
    font-size: 13px;
    padding-bottom: 0px;
  }

  .mainSection.center footer {
    margin-bottom: -10px;
  }

  #mockup1 {
    width: 377px;
    height: 576px;
    top: 167px;
    right: -610px;
  }

  #mockup2 {
    width: 100px;
    height: 226px;
    top: 138px;
    left: 191px;
  }

  #mockup2a {
    width: 100px;
    height: 282px;
    top: 138px;
    left: 315px;
  }

  #mockup2b {
    width: 100px;
    height: 339px;
    top: 138px;
    left: 437px;
  }

  #mockup3 {
    width: 541px;
    height: 287px;
    top: 243px;
    right: -533px;
  }
}

@media screen and (max-width: 840px) {
  body.landing.bg {
    background-image: url(../images/Mockups/840.png);
  }

  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .mainSection {
    width: 840px;
    height: 1024px;
  }

  .mainSection section {
    position: absolute;
  }

  .mainSection.left section {
    left: 150px;
  }

  .mainSection.right section {
    right: -108px;
  }

  .mainSection.center section {
    top: 188px;
  }

  .mainSection.center footer {
    right: 0px;
    bottom: 30px;
  }

  #mockup1 {
    width: 540px;
    height: 539px;
    top: 484px;
    right: -149px;
  }

  #mockup2 {
    width: 140px;
    height: 317px;
    top: 457px;
    left: 174px;
  }

  #mockup2a {
    width: 140px;
    height: 396px;
    top: 457px;
    left: 347px;
  }

  #mockup2b {
    width: 140px;
    height: 475px;
    top: 457px;
    left: 520px;
  }

  #mockup3 {
    width: 756px;
    height: 403px;
    top: 508px;
    right: -157px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 {background-image: url(../images/about@2x.jpg);}
  #mockup2 {background-image: url(../images/about@2x.jpg);}
  #mockup2a {background-image: url(../images/works@2x.jpg);}
  #mockup2b {background-image: url(../images/work@2x.jpg);}
  #mockup3 {background-image: url(../images/screens@2x.jpg);}
}
