body.landing.bg {
  background-image: url(../images/Mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
}

.mainSection {
  width: 1440px;
  position: relative;
  height: 800px;
  overflow: hidden;
}

.mainSection section {
  position: absolute;
  width: 600px;
  top: 191px;
}

.mainSection section figure {
  margin: 100px 0 0 -60px;
  width: 210px;
  height: 20px;
  background-image: url(../images/posts/);
}

.mainSection.left section {
  left: 160px;
}
.mainSection.right section {
  right: 40px;
}

.mainSection.center section {
  width: 100%;
  text-align: center;
}

.mainSection.center footer {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  min-width: 768px;
  text-align: center;
  padding-bottom: 37px;
}

.mainSection.center footer p {
  font-size: 16px;
}




.mainSection section figure {
  margin: 58px 0 0 -60px;
  width: 30px;
  height: 4px;
  background-color: #00ffe5;
}

.mainSection.left section figure {
  margin-left: 0px;
}

.mainSection.right section figure {
  margin-right: 100px;
}


h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

p {
  font-family: 'PT Sans', sans-serif;
  margin-top: 26px;
  font-size: 21px;
  line-height: 36px;
}

/*.mainSection.right,
.mainSection.center {
  background-color: #879696;
}

.mainSection.left {
  background-color: #fcfffe;
}*/

/*.mainSection.left p,
.mainSection.left h2 {
  color: #323332;
}

.mainSection.right h2,
.mainSection.right p,
.mainSection.center h2,
.mainSection.center p {
  color: #ffffff;
}*/


.mockup {
  position: absolute;
  background-size: cover;
}


#mockup1 {
  position: relative;
  width: 532px;
  height: 576px;
  top: 233px;
  right: -749px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/about.png);
}

#mockup2 {
  width: 140px;
  height: 317px;
  top: 193px;
  left: 160px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/about.png);
}

#mockup2a {
  width: 140px;
  height: 395px;
  top: 193px;
  left: 333px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/works.png);
}

#mockup2b {
  width: 140px;
  height: 474px;
  top: 193px;
  left: 506px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/Posts/work.png);
}

#mockup3 {
  position: relative;
  width: 761px;
  height: 404px;
  top: 343px;
  right: -640px;
  background-image: url(../images/Posts/screens.png);
}

@media screen and (max-width: 1460px) {
  .landingWraper {
    width: 100%
  }
}

@media screen and (max-width: 1180px) {
  .landing.bg {
    background-image: url(../images/Mockups/1180 First Breakpoint.png);
  }

  .mainSection {
    width: 1180px;
    height: 568px;
  }
}
