body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #FAFAFA;
}
