.menubar {
  width: 100%;
}


.menubar {
  width: 100%;
}

.menubar div {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color:  white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.menubar div {
}

.logo {
  display: block;
  width: 84px;
  height: 24px;
  background-image: url(../images/logo.svg);
}
