.btn {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: -62px;
  width: 300px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  line-height: 50px;
  font-size: 17px;
  background-color: #00ffe5;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.not {
  display: block;
  margin-top: 17px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  color: white;
  text-decoration: underline;
}
